<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/productssearch"><button type="submit" class="btn btn-primary">Back to list</button></a>
    </div>
  
      <div class="dropdown">
          <button class="dropbtn">Select subType</button>
            <div  class="dropdown-content">
             
              <a (click)="getprodreg('Mobiles')">Mobiles</a>
              <a (click)="getprodreg('clothing')">clothing</a>
              <a (click)="getprodreg('Shoes')">Shoes</a>
              <a (click)="getprodreg('Gadgets')">Gadgets</a>
              <a (click)="getprodreg('others')">others</a>
           
        
            </div>
          </div>
    
    <div class='card-body'>
        
    
        <div class='table-responsive'>
          <table class='table'
          >
            <thead>
              <tr>
               
                <th>NAME</th>
                <th>SUBTYPE</th>
                <th>BRAND</th>
                <th>Prize</th>
                <th>DATE</th>
    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prodreg of prodreg">
                <td>
                {{prodreg.name}}
                </td>
               
                <td>
                  {{prodreg.subtype}}
                </td>
                <td>
                  {{prodreg.brand}}
                </td>
                <td>
                  {{prodreg.cost}}
                </td>
                <td >
                  {{prodreg.date }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>